.EmptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
}
.FullCart{
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border: 2px black solid;
    width: 80%;
    margin: 40px auto;
}

@media (max-width: 767px) {
    .FullCart {
        flex-direction: column;
        gap: 0px;
        padding: 10px;
        width: 90%;
        border: 0px;
    }
}
